<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors defaultRedirect="http://82.78.77.60/error/404.php" />
        <machineKey decryptionKey="390386C5FBD60B2B549C23DB796846DD9E8AE73CA312B07C" validationKey="C4F9DED5DA96F07B486DC14AE46A33CA85A7B46D3539E22DDCFBD7372035418E06089D8C7D6BDD9F17827B9AF7D656D291693F06DBC3C585CD987F7EC33B6CDB" />
        <trust level="Full" />
        <sessionState cookieless="UseUri" mode="StateServer" />
        <identity impersonate="true" />
        <authentication mode="Windows" />
        <roleManager enabled="true" />
    </system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/404.php" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error/500.php" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error/403.php" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="off" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^([^\/.]+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="(^|/)inc(/|$)" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpRedirect enabled="false" destination="" />
    </system.webServer>
    <connectionStrings>
        <remove name="TemplateRo_db" />
        <add connectionString="Server=localhost;Database=digital;Integrated Security=true" name="TemplateRo_DB" />
    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp from="support@templatero.ro">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>
